
**/*Zone.Identifier
/ext/*
!/ext/minai_plugin
!/ext/herika_heal
!/ext/generic_installer.php
/log
/soundcache
data/CurrentModel_*.json
conf/character_map.json
conf/conf.php
conf/conf_*.php
!conf/conf_loader.php
!conf/conf_schema.php
/data/voices/*
!/data/voices/TheNarrator.wav
lib/chat_helper_functions_custom_debug.php
ui/index_custom.php
ui/tmpl/navbar_custom.php
*.php~
*.html~
*.xml~
*.json~
*.php_???
*.html_???
*.xml_???
*.json_???
*.sh_???
